<h1>Kittens?</h1>

<h2>Kittens!</h2>
<ul>
    <% @kittens.each do |kitten| %>
        <li>
            <%= link_to "#{kitten.name}, age #{kitten.age}", kitten_path(kitten) %> | 
            <%= link_to "Delete", kitten_path(kitten), method: :delete, data: { confirm: "Delete! Really?" } %>
        </li>
    <% end %>
</ul>
